.search-form {
  text-align: center;
  margin-bottom: 25px;
}

.search-form input {
  border: 4px solid springgreen;
  padding: 2px;
  padding-left: 10px;
  font-weight: 600;
  height: 100%;
}

.label {
  font-size: 24px;
  color: darkblue;
  text-decoration: underline;
}
